<%# Userのマイページ %>
<div class="wrapper">
  <div class="mypage">

  </div>
  <h1>Mypage</h1>
  <%# username, desk-name, user-image%>
  <%= current_user.name %>

  <%= link_to "アカウントの編集", edit_user_registration_path, class:"btn btn-yellow btn-cubic"%>

  <%# 投稿したdesk_imageを全て表示させる %>


</div>
