<div class="form-container">
  <%= form_with model: [@post, @comment] do |f|%>

    <div class="field">
      <%= f.label :body, "コメント編集" %>
      <%= f.text_field :body %>
    </div>

    <div class="submit">
      <%= f.submit "送信"%>
    </div>
  <% end %>

</div>
