//一覧ページ
.index-container {
  padding: 100px 0 100px 0;
}
.index h2 {
  text-align: center;
  color: #333;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.gallery a {
  color: black;
  text-decoration: none;
}

.post-gallery {
  margin-bottom: 3rem;
}

.gallery-item img {
  width: 100%;
}

.card-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-align: center;
  color: black;
}

.card-img-top {
  object-fit: contain;
  max-width: 100%;
  height: auto;
}

.user-info {
  text-align: center;
}

.user-info > * {
  display: inline-block;
  vertical-align: middle;
}

.post-info {
  text-align: center;
}

.post-info p {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 0px;
}


//詳細ページ
.show {
  max-width: 1140px;
  min-height: 100vh;
  margin: auto;
  padding: 25px 25px;
}

.desk-show-image {
  max-width: 60vw;
}

.post-img,
.category-container,
.description-container,
.function-wrapper,
.item-show {
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.swiper {
  padding: 0 50px;
  border: #333;
}

.swiper--wrapper {
  width: 100%;
  height: 300px;
}

.swiper-slide {
  color: #ffffff;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0.4;
}

.swiper-slide-active {
  opacity: 1;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category-container,
.description-container,
.function-wrapper,
.item-show,
.accordion-area,
.edit-container {
  text-align: center;
  font-size: large;
}

.category-container .card-link:hover {
  color: red;
}

.function-wrapper {
  padding-top: 2rem;
  justify-content: center;
}

.show-link {
  text-decoration: none;
}

.show-link:hover {
  color: red;
  text-decoration: none;
}

.item-delete {
  margin-top: 1rem;
}

.edit-container {
  margin-top: 1rem;
}
