<div class="row">
  <% if @items.present? %>
    <% @items.each do |item| %>
      <div class="col-md-2">
        <div class="card" style="width: 6rem; height: 6rem;">
          <%= image_tag(item.image_url) %>
        </div>
        <div class="card-body">
          <%= item.name%>
          <%= item.price%>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>この投稿にはアイテムが登録されていません</p>
  <% end %>
</div>
