<% if @post.errors.any? %>
  <div id="error_explanation" class="field_with_errors">
    <h2><%= pluralize(@post.errors.count, "件のエラーにより、投稿が失敗しました") %></h2>
    <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
