.mypage-avatar {
  width: 400px;
  height: 400px;
  object-fit:cover;
	border-radius:50%;
}

.tab-area {
  cursor: pointer;/* カーソルポインターに */
  margin-top: 25px;
}
.tab {
  padding: 5px;
}

.tab.active {
  background-color: #000;
  color: #fff;
}

.panel {
  display: none;
  text-align: center;
}
.panel.active {
  display: block;
}

.mypage-post {
  background-color: rgb(236, 236, 236);
}
.post-info {
  margin-top: 15px;
}

.card-text {
  margin-top: 25px;
}

